---
layout: default
title: Shawn Yates -- CV
---

<div class="cv page-content">
	<a 
		href="{{ site.data.cv.downloadable.url }}"
		class="download"
		title="{{ site.data.cv.downloadable.title }}"
	>
		{{ site.data.cv.downloadable.text }}
  </a>			
	<h3>{{ site.data.cv.info.name }}</h3>
	<div class="cv-intro">
		<strong>{{ site.data.cv.info.title }}</strong><br>
		{{ site.data.cv.info.location }} <br>
		Tel: {{ site.data.cv.info.telephone }}<br>
		<span class="obfuscate">{{ site.data.cv.info.email }}</span>
	</div>
	<div class="cv-body">
		<h4>Experience</h4>
		<ul class="cv-experience-list">
			{% for exp in site.data.cv.work_experience %}
				<li>
					<p><strong>{{ exp.title }}</strong></p>
					<p>{{ exp.company }}</p>
					<p>{{ exp.time.from }}-{{ exp.time.to }}</p>
					<p class="cv-job-description-blurb">{{ exp.description }}</p>
				</li>
				{% if exp.responsibilities %}
					<p>Responsibilities: </p>
					<ul class="cv-job-description-list">
						{% for item in exp.responsibilities %}
							<li><p>{{ item }}</p></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</ul>
		<h4>Education</h4>
		<ul class="cv-experience-list">
			{% for school in site.data.cv.education %}
				<li>
					<p><strong>{{ school.name }}</strong></p>
					<p>{{ school.program }}</p>
				</li>
			{% endfor %}
		</ul>
		<h4>Skills</h4>
		<ul class="cv-skill-list">
			{% for category in site.data.cv.skill_list %}
				<li>
					<p><strong>{{ category.category_name }}</strong>: 
						{% for skill in category.skills %}
							{{ skill }}{% if skill != category.skills.last %}, {% endif %}
						{% endfor %}
					</p>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
