<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/works">Work Samples</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:yates.shawnp@gmail.com"><i class="far fa-envelope fa-lg"></i></a></li>
   <li><a href="https://github.com/shawnpyates"><i class="fab fa-github fa-lg"></i></a></li>
   <li><a href="https://linkedin.com/in/shawnpyates"><i class="fab fa-linkedin fa-lg"></i></a></li>
   </ul>
  </footer>
  </body>

</html>
